.App {
  text-align: center;
}

.licznik {
  margin: 100px auto;
  padding: 10px;
  width: 300px;
  border: 2px solid deepskyblue;
  border-radius: 10px;
}

.przyciski {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.przycisk {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: deepskyblue;
  cursor: pointer;
}

.przycisk:active {
  background-color: yellow;
}

.titleRed {
  color: red;
  font-weight: 600;
}

.plac {
  margin: 0px auto;
  width: 90%;
  border: 2px solid blue;
  border-radius: 10px;
}