.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.counter {
  padding: 15px;
  width: 300px;
  border: 2px solid #61dafb;
  border-radius: 10px;
}

.counter:first-child {
  margin-right: 100px;
}

.buttons {
  margin-top: 15px;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.buttonsSetting {
  justify-content: center;
}

.button {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #61dafb;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.button:active {
  background-color: yellow;
}

.title {
  color: #61dafb;
  font-weight: 700;
  font-size: 50px;
}

.titleRed {
  color: red;
}

.place {
  height: 130px;
  margin: 0 auto;
  border: 2px solid #61dafb;
  border-radius: 10px;
}

.placeSetting {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 200px;
  padding: 5px;
  margin: 15px auto;
}