.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 334px);
  column-gap: 70px;
  justify-content: center;
  align-items: center;
}

.counter {
  padding: 15px;
  width: 300px;
  border: 2px solid #61dafb;
  border-radius: 10px;
}

.buttons {
  margin-top: 15px;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.buttonsSetting {
  justify-content: center;
}

.button {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #61dafb;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.button:active {
  background-color: yellow;
}

.title {
  color: #61dafb;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.titleRed {
  color: red;
}

.place {
  height: 130px;
  margin: 0 auto;
  border: 2px solid #61dafb;
  border-radius: 10px;
}

.placeSetting {
  padding: 15px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 130px 100px;
  grid-template-rows: repeat(2, 40px);
  row-gap: 20px;
}

.input {
  padding: 5px;
  border-color: #61dafb;
  border-radius: 5px;
}

.span {
  color: #61dafb;
  font-weight: 700;
  font-size: 25px;
}